/* Desktop and Tablet View */
#root {
    /* height: 100%; */
}

html, body {
    height: 100%;
    background:white;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (min-width: 601px) {
    body {
        background-color: #121212;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }
    

    .grid-container {
        display: grid;
        grid-template-rows: 15% 75% 10%;
        height: 100%;
        position: relative;
        /*grid-template-rows: [row1-start] "header" 25% [row1-end] "body" 50% [third-line] "footer" auto [last-line]; */
    }


    .center-module {
        color: white;
        display: flex;
    }

    .inside-module {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #121212;
        border-radius: 10px 10px 10px 10px;
        position: relative;
        height: 75%;
        width: 75%;
        max-width: 1200px;
        max-height: 1200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.3em;
        
        font-weight: 500;
    }

    .inside-text {
        display: flex;
        position: relative;
        place-items: center;
        justify-content: center;
        padding-left: 25%;
        padding-right: 25%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .footer {
        color: white;
        font-size: 1em;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .mobile-alert-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    }
}


/*Mobile View */
@media screen and (max-width: 600px) {

  .grid-container {
    display: none
  }
}