$datepicker__background-color: #363636 !default;
$datepicker__border-color: #aeaeae !default;
$datepicker__highlighted-color: #03DAC6 !default;
$datepicker__muted-color: gray !default;
$datepicker__selected-color: #03DAC6 !default;
$datepicker__text-color: white!default;
$datepicker__header-color: white !default;
$datepicker__navigation-disabled-color: orange !default;

$datepicker__border-radius: 5px !default;
$datepicker__day-margin: 0.166rem !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: 'Open Sans', sans-serif !default;
$datepicker__item-size: 1.7rem !default;
$datepicker__margin: 0.4rem !default;
$datepicker__navigation-button-size: 32px !default;
$datepicker__triangle-size: 8px !default;